$color-text: #808080;
$color_body-background: #ffffff;
$color_input-border: #dddddd;
$color_input-background: #ffffff;
$color_highlight: #580dbb;

$color_body-gradient-start: #eee4db;
$color_body-gradient-end: #8630f7;

$color_button-background: $color_highlight;
$color_button-border: $color_highlight;
$color_button-text: #ffffff;

$color-valid: #daffdf;
$color_invalid: #fac9be;

$size_base-font: 1.6rem;
$size_input-radius: 0.8rem;
