<div class="container-fluid p-5">
  <div class="d-flex justify-content-center align-items-center">
    <div class="w-50">
      <h3 class="text-center">Add Beneficiary</h3>
      <form [formGroup]="paymentForm">
        <div class="form-group mt-5">
          <div class="form-group mb-4 mt-2">
            <select class="form-select" placeholder="Enter payment" disabled>
              <option selected>United Kingdom</option>
              <option>Italy</option>
            </select>
          </div>
          <div class="form-group mb-4 mt-2">
            <select class="form-select" formControlName="beneficiary_entity_type" (change)="getCompanyType($event)">
              <option>company</option>
              <option>individual</option>
            </select>
          </div>
        </div>
        <div>
          <div formGroupName="fields">
            <div *ngFor="let t of fields['controls']; let i = index" [formGroupName]="i">
              <div class="form-group mb-4 mt-2"
                   *ngIf="selectedCompanyType == 'company' && t.get('beneficiary_company_name')">
                <div>
                  <div class="form-group mb-4 mt-2">
                    <input type="string" formControlName="beneficiary_company_name" class="form-control"
                           placeholder="Beneficiary Company Name">
                  </div>
                </div>
              </div>
              <div *ngIf="selectedCompanyType == 'individual' && t.get('beneficiary_last_name')">
                <div>
                  <div class="form-group mb-4 mt-2">
                    <input type="string" formControlName="beneficiary_last_name" class="form-control"
                           placeholder="Beneficiary Last name">
                  </div>
                  <div class="form-group mb-4 mt-2">
                    <input type="string" formControlName="beneficiary_first_name" class="form-control"
                           placeholder="Beneficiary First Name">
                  </div>
                </div>
              </div>
              <div class="payment-tabs" *ngIf="selectedCompanyType">
                <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="priority-tab" data-bs-toggle="tab" data-bs-target="#priority"
                            type="button"
                            role="tab" aria-controls="priority" aria-selected="true">International Payment
                    </button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link" id="regular-tab" data-bs-toggle="tab" data-bs-target="#regular"
                            type="button"
                            role="tab" aria-controls="regular" aria-selected="false">Local Payment
                    </button>
                  </li>
                </ul>
                <div class="tab-content" id="payment_type">
                  <div class="tab-pane fade show active" id="priority" role="tabpanel" aria-labelledby="priority-tab">
                    <div class="form-group mb-4 mt-2">
                      <input type="string" formControlName="bic_swift" class="form-control" placeholder="Bic Swift">
                    </div>
                    <div class="form-group mb-4 mt-2">
                      <input type="string" formControlName="beneficiary_address" class="form-control"
                             placeholder="Beneficiary address">
                    </div>
                    <div class="form-group mb-4 mt-2">
                      <input type="string" formControlName="beneficiary_city" class="form-control"
                             placeholder="Beneficiary City">
                    </div>
                  </div>
                  <div class="tab-pane fade" id="regular" role="tabpanel" aria-labelledby="regular-tab">
                    <div class="form-group mb-4 mt-2">
                      <div class="form-group mb-4 mt-2">
                        <input type="string" formControlName="iban" class="form-control" placeholder="Iban">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-between align-content-around form-group">
          <button type="button" class="btn btn-lg btn-outline-danger">Cancel</button>
          <button type="submit" class="btn btn-lg btn-outline-success">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>



